<div class = "yamu_box">
</div>


<div class = "serif_box">
    <p class = "tork">ここらでお遊びはいいかげんにしろってとこをみせてやりたい</p>
    
    <%= form_tag("/total") do %>
     <div class = "total_botan">
        <p class = "total">集計結果を見る</p>
        <input type = "submit"  value = "移動">
    </div>
    <% end %>
</div>

