// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.serif_box {
    width :100%;
    height : 500px;
    text-align : center;
    font-size :30px;
}

.total_botan {
    width :100%;
    height : 250px;
    text-align : center;
}


.total {
    font-size : 20px;
    line-height :10px;
}


.vegita_box {
    width :50%;
    height :500px;
    background-image : url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZR8Nf5hmuaz-Jw6heRSZNg027cT33ll7g_ycyOSektyiN6lAu6Q");
    background-size : cover;
    float : left;
    overflow: hidden; 
}

.buro_box {
    width :50%;
    height :500px;
    background-image : url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_Qi1xDnVtKErjqiopCYT-uCLgPghB5UZAvcvaE621NzpN5xH71A");
    background-size : cover;
    float : left;
    overflow: hidden; 
}

.yamu_box {
    width :50%;
    height :500px;
    background-image : url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYn1--5npISdOBuwWbPFn789XkONz0642Tz1rZi5Fw4zo4IRqm");
    background-size : cover;
    float : left;
    overflow: hidden; 
}

.thanks_box {
    width :100%;
    text-align:center;
}