<!DOCTYPE html>
<html>
  <head>
    <title>DragonApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class = "top_logo">
        <p>ドラゴンボール人気キャラ投票</p>
      </div>
      <div class = "humberger">
      </div>
    </header>
    <%= yield %>
  </body>
</html>
